<html>
  <head>
    <title>WDInstagram</title>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
